@import '../../../colors.scss';

.list-group-item {
    background-color: transparent;
    border-color: map-get($theme-colors, 'secondary');
    padding: 5px;
    padding-left: 10px;
    cursor: pointer;
}

.list-group-item:first-child {
    border: none;
}

.list-group-item:hover {
    color: map-get($theme-colors, 'primary');
}

.list-group-item.selected {
    color: map-get($theme-colors, 'primary');
    font-weight: 500;
}

.empty {
    font-size: 1.2em;
    font-style: italic;
    color: gray;
    padding: 10px;
    padding-left: 20px;
}

.list-group-item .remove-button {
    border: none;
    color: gray;
}
