<div class="container">
    <div class="jumbotron">
        <h2>Welcome to {{ app.name }}!</h2>
        <p>
            <em>Let's get things done.</em>
        </p>
        <button *ngIf="!loggedIn" class="btn btn-primary" routerLink="/login">
            login <i class="fa fa-sign-in"></i>
        </button>
        <button *ngIf="loggedIn" class="btn btn-primary" routerLink="/lists">
            get started
        </button>
        <span style="margin-left: 10px"></span>
        <button class="btn btn-secondary" routerLink="/about">
            tell me about this
        </button>
    </div>
</div>
