<app-add [disabled]="!selectedList" placeholder="add task" (added)="addTask($event)"></app-add>

<div *ngIf="!selectedList" class="empty">no list selected</div>
<div *ngIf="!hasTasks && selectedList" class="empty">no tasks found</div>

<ul *ngIf="hasTasks" class="list-group list-group-flush">
    <li
        class="list-group-item"
        [class.done]="task.done"
        *ngFor="let task of selectedList.tasks"
        (click)="toggleTaskDone(task)"
    >
        {{ task.name }}
    </li>
</ul>
