@import '../../../colors.scss';

.list-group-item {
    background-color: transparent;
    border: none;
    padding: 5px;
    padding-left: 10px;
    cursor: pointer;
}

.list-group-item.done {
    color: map-get($theme-colors, 'primary');
    text-decoration: line-through;
}
